.mat-checkbox {
  .mat-checkbox-layout {
    align-items: flex-start;
    margin: 5px 0;

    .mat-checkbox-inner-container {
      margin: 5px 8px 0 0;
    }

    .mat-checkbox-ripple {
      display: none;
    }
  }
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #2955bf;
}
