@import "variables";
@import "text-styles";

.mat-form-field {
  .mat-form-field-wrapper {
    position: static;
    text-align: left;
    padding-bottom: 0;

    .mat-form-field-infix {
      font-weight: 500;
      font-size: 14px;
      font-family: Roboto, sans-serif;
      padding: 4px;
      border: none;
      margin: 12px 5px 12px 12px;

      @media (max-width: 450px) {
        font-size: 13px;
      }
    }

    .mat-form-field-underline {
      display: none;
    }

    .mat-input-element {
      caret-color: auto !important;
    }
  }
}

.mat-form-field.mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element {
  caret-color: auto !important;
}

.mat-form-field-prefix, .mat-form-field-suffix {
  margin: 10px;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill + .mat-form-field-label-wrapper .mat-form-field-label {
  display: none;
}

.payment-container {
  .mat-form-field-appearance-legacy .mat-form-field-label {
    padding-left: 40px;
  }
}

.phone-input .mat-form-field {
  position: static;

  .mat-form-field-subscript-wrapper {
    left: 0;
  }

  .mat-error {
    margin-top: 2px;
  }
}

.mat-error {
  margin-top: 17px;
}

.pink-form {
  background-color: $skin-background;
  border: $another-border;
  padding: 0 0 0 5px;
}
