<nsp-common-dialog-header (cancel)="cancel()"
                          [title]="'recharge.finishHeaderLabel' | translate">
</nsp-common-dialog-header>

<div class="recharge-wrapper"
     mat-dialog-content>
  <div class="content-message">

    <div class="main-title">
      {{'recharge.finishSubheaderLabel' | translate}}
    </div>

    <div class="checkmark">
      <mat-icon [svgIcon]="'success-checkmark'"></mat-icon>
    </div>

    <div class="title">
      {{'recharge.thanksLabel' | translate}}
    </div>

    <div [innerHTML]="'recharge.finishContentLabel' | translate"
         class="content">
    </div>

    <div class="actions">
      <button (click)="confirm()"
              class="confirm-button"
              mat-button>
        {{'recharge.finishButtonLabel' | translate}}
      </button>
    </div>

  </div>
</div>
