@import "variables";
@import "auth";
@import "text-styles";
@import "flexbox";

* {
  box-sizing: border-box;
}

.forgot-password-wrapper {
  padding: 10px 16.75px;

  .sub-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    //margin-left: 26px;
  }

  .forgot-password-container {
    @include auth-dialog;
    width: 100%;

    .inner-container {
      width: 100%;
      .header {
        align-items: flex-start;

        .title {
          line-height: 40px;
          width: 80%;
          text-align: start;
        }
      }
    }

    header {
      display: flex;
      justify-content: flex-end;
      margin-top: 32px;
    }

    .check-mail-container {
      .check-mail-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }

      .check-mail-text {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        padding: 0 15%;
      }
    }

    .button {
      margin: 10px 0;
    }
  }

  .gradient-button {
    width: 100%;
    height: 48px;
    border-radius: 0;
    color: $white;
  }
}
