@import 'variables';

.user-main-info {
  padding: 20px;
  display: flex;

  &-card {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .column {
      width: 50%;
      display: flex;
      flex-direction: column;

      .user-main-info-card-row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 24px;

        &:not(:first-child) {
          margin-top: 16px;
        }

        .label {
          width: 30%;
          color: $link-color;
          text-align: right;
        }

        .value {
          width: 60%;
          margin-left: 10%;
          color: $dark-blue;
          font-weight: bold;
          display: flex;
          column-gap: 10px;
          align-items: center;
        }
      }
    }
  }

  .credits-container {
    width: 40%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;

    .block {
      border-radius: 4px;
      color: $white;
      padding: 16px 24px;
      width: 50%;

      .title {
        font-size: 16px;
        line-height: 20px;
      }

      .value {
        margin-top: 4px;
        font-size: 24px;
        line-height: 28px;
      }

      &.credits {
        background-color: $green;
      }

      &.spent {
        background-color: $light-green;
      }

      &.free {
        background-color: $blue-green;
      }

      &:not(:first-child) {
        margin-top: 8px;
      }
    }

    .free-credits {
      font-size: 16px;
      line-height: 20px;
      margin-top: 8px;
      border-radius: 4px;
      padding: 16px 24px;
      width: 50%;
      border: $border-grey;
    }
  }
}
