<div class="sub-footer-wrapper d-flex flex-column align-center">
  <p class="first-line">
    <a href="https://legal.purevoyance.com/mentions_legales">{{"subFooter.legalLabel" | translate}}</a> |
    <a href="https://legal.purevoyance.com/cguv">{{"subFooter.generalLabel" | translate}}</a> |
    <a href="https://legal.purevoyance.com/charte_protection_donnees">{{"subFooter.dataLabel" | translate}}</a>
  </p>

  <p class="second-line">
    <a href="https://legal.purevoyance.com/charte_deontologie">{{"subFooter.codeLabel" | translate}}</a> |
    <a href="https://legal.purevoyance.com/droit_retractation">{{"subFooter.withdrawalLabel" | translate}}</a> |
    <a href="https://purevoyance.mes-donnees-personnelles.com/?source=purevoyance.com">{{"subFooter.personalDataLabel" |
      translate}}</a>
    |
    <a href=""
       routerLink="/contact-us">{{"subFooter.contactUsLabel" | translate}}</a>
  </p>

  <p>{{"subFooter.copyrightLabel" | translate}}</p>
</div>