<div class="registrations-goals-wrapper flex-column align-center">
  <div class="titles flex-column align-center">
    <img alt="" class="logo" src="assets/images/header/Logo2.png">

    <h2 class="sub-title-black">
      {{"goals.titleLabel" | translate}}
    </h2>

    <p class="paragraph-black">
      {{"goals.textLabel" | translate}}
    </p>
  </div>

  <div class="picture-block">
    <div class="opacity-block flex-column align-center">
      <p>{{"goals.questionLabel" | translate}}</p>

      <p class="text-uppercase">{{"goals.contactLabel" | translate}}</p>

      <div class="button-group d-flex justify-center">
        <button class="text-uppercase" mat-button><a href="tel:01 77 77 77 7 7">01 77 77 77 7 7</a> <br>
          <span>{{"goals.freeCallLabel" | translate}}</span></button>

        <button class="text-uppercase" mat-button>{{"goals.emailLabel" | translate}}</button>
      </div>

      <p class="service">{{"goals.serviceSecondLabel" | translate}}</p>
    </div>
  </div>

  <div class="line"></div>
</div>
