@import "text-styles";
@import "flexbox";
@import "variables";
@import "src/styles/material-override/input";

.free-credits-wrapper {
  padding: 12px 17px 32px 17px;

  .free-credits-content {
    width: 100%;
    padding: 40px 10px;

    mat-form-field {
      border: $light-border-grey;
      border-radius: 5px;
    }
  }

  button {
    width: 50%;
    background-color: $green-active;
    color: $white
  }
}
