.modal-window {
  padding: 32px;
  box-shadow: 0 64px 64px -48px rgba(31, 47, 70, 0.12);
  border-radius: 8px;
  background: #FCFCFD;

  .header {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    vertical-align: middle;
    padding-bottom: 32px;

    h1 {
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      color: #23262F;
      margin: 0;
      padding: 0;
      vertical-align: middle;
    }

    .close-button {
      padding: 8px;
      cursor: pointer;
      border: 2px solid #E6E8EC;
      border-radius: 50%;
    }
  }

  .medium {
    display: flex;
    justify-content: flex-start;
    column-gap: 18px;

    .profile-image {
      border-radius: 50%;
      width: 96px;
      height: 96px;
      object-fit: contain;
    }

    .medium-name-and-rating {
      display: flex;
      flex-direction: column;
      align-self: center;

      h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 6px;
        margin: 0;
      }
    }
  }

  h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #23262F;
    padding: 24px 0 16px;
    margin: 0;
  }

  button {
    max-width: 100%;
    margin: 0;
    font-family: Roboto, sans-serif;

    a {
      text-decoration: none;
      color: #FCFCFD;;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
    }
  }

  p {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #777E91;
    padding-top: 8px;
  }
}

