$font-family: DM Sans, sans-serif;
$font-main: Roboto;
$font-lato: "Lato", sans-serif;

$light-border-grey: 1px solid #e6e8ec;
$border-grey: 2px solid #e6e8ec;
$border-red: 2px solid #ef466f;
$border-gold: 2px solid #cfac41;
$border-white: 1px solid #ebebeb;
$border-light-grey: 1px solid #e6e8ec;
$border-very-light-grey: 1px solid #cfcfcf;
$just-another-border: 1px solid #b9b9b9;
$border-silver: 2px solid #bababa;
$gold-text-color: #d8b860;
$white-smoke: #f8f8f8;
$gainsboro: #dcdcdc;
$lightblack: #333333;
$dim-gray: #6c6c6c;
$background-gold: #d3b04f;
$dark-gold: #cdb565;
$gold: #cfac41;
$grey: #b1b5c3;
$dark-gray: #8f8f8f;
$white: #ffffff;
$white-alternative: #fcfcfd;
$green: #45b26b;
$green-alternative: #45b36b;
$pink: #9757d7;
$dark-blue: #23262f;
$metal-grey: #777e90;
$link-color: #777e91;
$black: #000000;
$hex: #565656;
$green-active: #00a8aa;
$dark-active: #0b2325;
$border-color: #e6e8ec;
$dark-red: #d12b06;
$golden: #c19f3a;
$light-green: #23b3b5;
$title-green: #0d9ea0;
$grey-alternative: #eeeeee;
$button-black: #4f4f4f;
$golder-hover: #a28a38;
$text-green: #06989b;
$skin-background: #f5f5f5b8;
$skin-background-secondary: #f7f7f7;
$skin-border: 2px solid #f3f3f3;
$third-skin-background: #fbfbfb;
$charcoal: #36454f;
$golden-recharge: #d1ab42;
$empty-star: #cdccca;
$golden-star: #ffd166;
$psychics-black: #4a4a4a;
$price-green: #68cd30;
$callback-green: #20cc3a;
$just-another-black: #363636;
$just-another-green: #24cb3f;
$yet-another-green: #15a1a5;
$blue-green: #019b9d;
$help-black: #5b5b5b;
$one-more-gold: #d1ab42;
$grey-offline: #c9c9c9;
$busy: #cab765;
$another-golder-this-is-insane: #ccb566;
$divider-gold: #d5b967;
$can-we-stop-adding-golden-colors: #d8b860;
$card-border: 1px solid #f1f1f1;
$card-select-background: #ededed;
$checkbox-border: #b6b6b6;
$another-useless-color: #e4e4e4;
$just-in-case-if-we-need-another-grey-color: #e2e2e2;
$profile-image-background: #f4f6f7;
$placeholder-color: #9c9c9c;
$darker-gold: #cfbe72;
$light-skin-background: #f9f9f9;
$recharge-divider: #bcbcbc;
$goldy: #e8e1cd;
$god-damn-one-more-color: #353945;
$this-is-crazy: #141416;
$file-input-background: #f4f5f6;

$linear-gradient-background: linear-gradient(
    180deg,
    #00a8aa -4.2%,
    #00a2a4 31.73%,
    #0a2c2e 98.07%
);
$second-background-gradient: linear-gradient(
    90deg,
    #ffffff 0%,
    #56bcc2 50.45%,
    #ffffff 100%
);
$border-radius: 12px 0 0 12px;
$border-radius-inverse: 0 12px 12px 0;
$golden-gradient: linear-gradient(
    180deg,
    #dcbf6f 0%,
    #dcbf6f 24.7%,
    #b59a3f 100%
);
$green-gradient: linear-gradient(180deg, #00a8aa 0%, #0b2325 100%);
$golder-gradient-alternative: linear-gradient(180deg, #dcbf6f 0%, #ba9f45 100%);
$another-border: 1px solid #a1a1a1;
