<div class="discovery-offer-wrapper">
  <img class="right-column-sms" src="assets/icons/heart-consultation-icon.svg">


  <div class="middle-column-offer">
    <h1 class="text-uppercase light-green-sub-title">{{ "psychoTest.consultationMediumFirstTextLabel" | translate}}</h1>

    <h2 class="light-green-sub-title text-uppercase">{{ "horoscope.headerMainWrapperThirdLabel" | translate}}</h2>

    <p class="psychics-text">
      {{ "astrology.consultationPriceLabel" | translate: {price: price | currency: 'EUR'} }}
    </p>
  </div>

  <button class="green-button input-text">{{ "psychics.discoveryOfferButtonLabel" | translate}}</button>
</div>
