<div class="back-office-section-wrapper">
  <h1 class="text-uppercase h1">
    {{'invoices.invoicesLabel' | translate}}
  </h1>

  <div class="filter-wrapper">
    <mat-form-field *ngIf="!!dataSource.length || !!searchControl.value"
                    appearance="outline"
                    class="input-form">
      <mat-label>{{'general.searchLabel'| translate}}</mat-label>
      <input [formControl]="searchControl"
             matInput
             type="text">
    </mat-form-field>
  </div>

  <mat-card class="mat-elevation-z0">
    <div class="table-wrapper">
      <mat-table (matSortChange)="sortingEvent($event)"
                 [dataSource]="dataSource"
                 matSort>
        <div *matNoDataRow>
          <div class="table-no-data">
            {{'invoices.noDataLabel' | translate}}
          </div>
        </div>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>
            {{'invoices.dateLabel' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.date || 'n/a'}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="customer">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>
            {{'invoices.customerLabel' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a *ngIf="!!element.customer"
               [routerLink]="['/back-office', 'users', element.customer.id]">
              {{element.customer.name || 'n/a'}}
            </a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="psychic">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>
            {{'invoices.psychicLabel' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a *ngIf="!!element.psychic"
               [routerLink]="['/back-office', 'psychics', element.psychic.id]">
              {{element.psychic.name || 'n/a'}}
            </a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="duration">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>
            {{'invoices.durationLabel' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.duration || 'n/a'}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cost">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>
            {{'invoices.costLabel' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.cost || 'n/a'}}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator (page)="paginatorEvent($event)"
                     *ngIf="!!dataSource.length"
                     [length]="total"
                     [pageIndex]="page - 1"
                     [pageSizeOptions]="paginatorPageSizeOptions"
                     [pageSize]="pageSize">
      </mat-paginator>
    </div>
  </mat-card>
</div>
