<footer class="footer-wrapper d-flex flex-center">
  <div class="sections d-flex flex-center">
    <div class="section">
      <img alt="" src="assets/images/footer/checked.png">

      <p class="text-uppercase">{{"footer.availabilityLabel" | translate}}</p>
    </div>

    <div class="section">
      <img alt="" src="assets/images/footer/checked.png">

      <p class="text-uppercase">{{"footer.guaranteedLabel" | translate}}</p>
    </div>

    <div class="section">
      <img alt="" src="assets/images/footer/checked.png">

      <p class="text-uppercase">{{"footer.secureLabel" | translate}}</p>
    </div>
  </div>

  <div class="footer-navigation">
    <ul class="flex-between">
      <li>
        <a [routerLink]="['/psychics']"
           routerLinkActive="active">
          {{"subHeader.physicsLabel" | translate }}
        </a>
      </li>

      <li>
        <a [routerLink]="['/horoscope']"
           routerLinkActive="active">
          {{"subHeader.horoscopeLabel" | translate }}
        </a>
      </li>

      <li>
        <a [routerLink]="['#']"
           routerLinkActive="active">
          {{"subHeader.chatLifeLabel" | translate }}
        </a>
      </li>


      <li>
        <a [routerLink]="['astrology']"
           routerLinkActive="active">
          {{"subHeader.astrologyLabel" | translate }}
        </a>
      </li>

      <li>
        <a [routerLink]="['/psycho-tests']"
           routerLinkActive="active">
          {{"subHeader.psychoTestLabel" | translate }}
        </a>
      </li>

      <li>
        <a [routerLink]="['/tarot']"
           routerLinkActive="active">
          {{"subHeader.tarotLabel" | translate }}
        </a>
      </li>

      <li>
        <a [routerLink]="['/sexo']"
           routerLinkActive="active">
          {{"subHeader.sexoLabel" | translate }}
        </a>
      </li>

      <li>
        <a href=""
           routerLinkActive="active">
          {{"subHeader.forumsLabel" | translate }}
        </a>
      </li>

      <li>
        <a [routerLink]="['/contact-us']"
           routerLinkActive="active">
          {{"subHeader.contactUsLabel" | translate}}
        </a>
      </li>

      <li>
        <a *ngIf="authService.isAuthenticated"
           [routerLink]="['/account']"
           routerLinkActive="active">
          {{'userAccount.myProfileLabel' | translate}}
        </a>
      </li>

      <li class="back-office-link">
        <a *ngIf="authService.isAuthenticated && userService.isAdmin"
           [routerLink]="['/back-office']"
           routerLinkActive="active">
          {{"subHeader.backOfficeLabel" | translate}}
        </a>
      </li>
    </ul>
  </div>
</footer>
