@import 'variables';
@import 'auth';

.sign-up-container {
  padding: 24px 20px;
  @include auth-dialog;
  width: 100%;
  display: block;

  a {
    text-decoration: none;
    color: $dark-blue;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .divider {
    padding-bottom: 24px;
  }

  .form-container {
    width: 100%;
  }

  .stepper-container {

    .sign-up-fields {
      column-gap: 32px;
      width: 100%;

      .form-column {
        max-width: 80%;
        width: 38.5%;

        .phone-input {
          display: flex;
          width: 100%;
          position: relative;

          .phone-code-trigger {
            padding-left: 4px;
          }

          .phone-code-select {
            height: 50px;
            width: 150px;
            border: $border-grey;
            border-right: none;
            border-radius: 0;
            padding: 0 10px;
          }

          .enter-phone-field {
            border-radius: 0;
          }
        }

        .sms-code-container {
          width: 100%;
        }
      }
    }

    .button {
      width: 43%;

      &:disabled {
        background: $grey !important;
      }
    }
  }
}

h2 {
  text-align: center;
  margin-top: 10px;
}

::ng-deep {
  .flag-image {
    width: 22px;
    height: 16px;
    object-fit: cover;
    line-height: 20px;
    vertical-align: text-top;
    margin-right: 4px;
  }

  .phone-code {
    line-height: 20px;
  }
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}

.phone-wrapper {
  max-height: 159px;
  overflow: auto;
}
