<div class="horoscope-wrapper">
  <div class="email-block">
    <div class="email-block-header">
      <div class="moon-titles">
        <img alt=""
             src="assets/icons/psychics/moon%201moon.png">

        <div class="titles">
          <h2 class="text-uppercase">{{"psychics.receiveLabel" | translate}}</h2>

          <p class="text-uppercase">{{"psychics.dailyHoroscopeLabel" | translate}}</p>
        </div>
      </div>

      <div class="form">
        <form action="">
          <input placeholder="{{'psychics.placeholderLabel' | translate}}"
                 type="text">
        </form>

        <button class="text-uppercase"
                mat-button>{{"psychics.subscribeLabel" | translate}}</button>
      </div>
    </div>

    <div class="checkbox-group">
      <mat-checkbox>
        <p>{{"psychics.checkBoxFirstLabel" | translate}}</p>
      </mat-checkbox>

      <mat-checkbox type="checkbox">
        <p>{{"psychics.checkBoxSecondLabel" | translate}}</p>
      </mat-checkbox>
    </div>
  </div>

</div>
