<div class="personal-goals-wrapper">
  <div class="titles flex-column align-center">
    <img alt="" class="logo" src="assets/images/header/Logo2.png">

    <h2 class="sub-title-black">
      {{"goals.titleLabel" | translate}}
    </h2>

    <p class="paragraph-black">
      {{"goals.textLabel" | translate}}
    </p>
  </div>

  <div class="callback-wrapper d-flex">
    <div class="callback-block flex-column align-center">
      <h2 class="callback-title">{{"goals.helpLabel" | translate}}</h2>

      <p class="callback-disclaimer">
        {{"goals.serviceLabel" | translate}}
      </p>

      <div class="phone-block">
        <img alt="" src="assets/images/reusable-goals/phone.png">

        <div class="phone">
          <h4 style="margin:0% ;font-size:20px;font-weight:100">Appelez maintenant</h4>

          <h3 class="text-uppercase phone-disclaimer">
            {{"goals.freeCallLabel" | translate}}
          </h3>
        </div>
      </div>
    </div>

    <div class="picture-block d-flex">
      <button class="text-uppercase" mat-button
              routerLink="/psychic-registration/sign-up-psychic">
        {{"goals.registrationLabel" | translate}}
      </button>
    </div>
  </div>
</div>
