<div class="test-wrapper flex-center flex-column">

  <div class="flex-column flex-center">
    <h1 class="light-green-title text-uppercase">
      {{'horoscope.articlesFirstPartFirstTextLabel' | translate}} {{'horoscope.articlesSecondPartFirstTextLabel' |
      translate}}
    </h1>

    <img class="yellow-line"
         src="./assets/icons/header/yellow-line-icon.svg">

    <p *ngIf="!showResult"
       class="light-green-sub-title sub-title-text">
      {{'horoscope.ascendentSubTitleTestLabel' | translate}}
    </p>
  </div>

  <div *ngIf="!showResult"
       class="ascendant-wrapper container flex-between">
    <img src="./assets/images/horoscope/article-first-image.png">

    <div class="right-side flex-column">
      <div [formGroup]="form"
           class="right-side-ascendant">
        <p class="header-main-text">
          {{'signUp.yourLabel'| translate}} {{"signUp.birthDateLabel"| translate}} *
        </p>

        <mat-form-field class="input-form">
          <input (focus)="picker.open()"
                 [matDatepicker]="picker"
                 [max]="startDate"
                 formControlName="birthDate"
                 matInput
                 placeholder="{{'signUp.enterLabel'| translate}} {{'signUp.birthDateLabel'| translate}}"
                 type="text">
          <mat-datepicker-toggle [for]="picker"
                                 matSuffix>
          </mat-datepicker-toggle>

          <mat-datepicker #picker></mat-datepicker>

          <mat-error>{{'validationService.dateOfBirth' | translate}}</mat-error>
        </mat-form-field>

        <p class="header-main-text">
          {{'signUp.yourLabel'| translate}} {{'horoscope.timeOfBirthLabel' | translate}}
        </p>

        <mat-form-field class="input-form">
          <input class="birth-time"
                 formControlName="birthTime"
                 matInput
                 max="23:59"
                 min="00:00"
                 placeholder="{{'signUp.yourLabel'| translate}} {{'horoscope.timeOfBirthLabel' | translate}}"
                 type="time">
          <mat-error>{{'horoscope.timeOfBirthErrorLabel' | translate}}</mat-error>
        </mat-form-field>

        <p class="header-main-text">
          {{"horoscope.countryWhereBornLabel" | translate}} *
        </p>

        <mat-form-field class="input-form">
          <input [matAutocomplete]="country"
                 [placeholder]="'horoscope.countryWhereBornLabel' | translate"
                 formControlName="country"
                 matInput
                 type="text">
          <mat-autocomplete #country="matAutocomplete">
            <mat-option *ngFor="let option of filteredCountries | async"
                        [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>

          <mat-error>{{'validationService.required' | translate}}</mat-error>
        </mat-form-field>


        <p class="header-main-text">
          {{"horoscope.cityWhereBornLabel" | translate}} *
        </p>

        <mat-form-field class="input-form">
          <input [matAutocomplete]="city"
                 formControlName="city"
                 matInput
                 placeholder="{{'signUp.enterLabel'| translate}} {{'horoscope.cityWhereBornLabel' | translate}}"
                 type="text">
          <mat-autocomplete #city="matAutocomplete"
                            [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredCities | async"
                        [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>

          <mat-error>{{'validationService.required' | translate}}</mat-error>
        </mat-form-field>
      </div>

      <button (click)="submit()"
              [disabled]="form.invalid"
              class="dark-button">
        {{'horoscope.sendButtonLabel' | translate}}
      </button>
    </div>
  </div>

  <div *ngIf="showResult"
       class="ascendant-result flex-column flex-center">

    <div class="result-disclaimer">
      <div class="result-disclaimer-row">
        <span class="title">
          {{'tarot.yourSignTextLabel' | translate}}:
        </span>
        <span class="value">
          {{currentSign.title}}
        </span>
      </div>

      <div class="result-disclaimer-row">
        <span class="title">
          {{'horoscope.articlesSecondPartFirstTextLabel' | translate}}:
        </span>
        <span class="value">
          {{ascendantSign.title}}
        </span>
      </div>
    </div>

    <div class="text-result">
      <p [innerHTML]="result"></p>
    </div>

    <button (click)="reset()"
            class="dark-button text-uppercase">
      {{'horoscope.seeAnotherSign' | translate }}
    </button>
  </div>
</div>
