@import 'variables';

.settings-container {
  .header-main-text {
    &:not(:first-of-type) {
      margin-top: 24px;
    }
  }

  .actions-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 24px;

    .mat-button-base:not(:disabled) {
      background-color: $text-green;
      color: $white;
    }
  }
}
